 <body>
<div>
    <button id="heading1" class="btn btn-primary" routerLink="/Admin">Post Vegetables</button>
    <button id="heading2" class="btn btn-primary" routerLink="/Admin">Post Fruits</button>
    <button id="heading3" class="btn btn-primary" routerLink="/Admin">Post Biscuits</button>
    <button id="heading4" class="btn btn-primary" routerLink="/Admin">Post Colddrinks</button>
</div>
<div>
    <button id="heading5" class="btn btn-primary" routerLink="/Admin">Delete Vegetables</button>
    <button id="heading6" class="btn btn-primary" routerLink="/Admin">Delete Fruits</button>
    <button id="heading7" class="btn btn-primary" routerLink="/Admin">Delete Biscuits</button>
    <button id="heading8" class="btn btn-primary" routerLink="/Admin">Delete Colddrinks</button>
</div>

</body>  