/* body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(119, 54, 54) 0%, rgb(180, 74, 79) 35%, rgb(231, 34, 60) 100%);
    
  }
  svg{
      margin-left: 30%;
      margin-top: 25%;
  }
  
  #heading1{
    margin-left: 30%;
    margin-top: 1%;
  }
  #heading2{
    margin-left: 65.5%;
    margin-top: -3%;
  }
  .btn {
    
    color: blue;
  } */

  body {
    font-family: "Poppins", sans-serif;
    background: whitesmoke;
    background-image: url(https://img.freepik.com/premium-photo/abstract-blur-green-color-background_7182-1948.jpg?w=740);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
  
  }
    svg{
        margin-left: 5%;
        margin-top: 7%;
    }
    
    #heading1{
      margin-left: 5%;
      margin-top: 1%;
    }
    #heading2{
      margin-left: 5%;
      margin-top: 1%;
    }
    #heading3{
      margin-left: 5%;
      margin-top: 1%;
      /* margin-bottom: -17%; */
    }
    #heading4{
      margin-left: 5%;
      margin-top: 1%;
      /* margin-bottom: -13%; */
    }

    #heading5{
      margin-left: 5%;
      margin-top: 3%;
    }
    #heading6{
      margin-left: 5%;
      margin-top: 3%;
    }
    #heading7{
      margin-left: 5%;
      margin-top: 3%;
      /* margin-bottom: -17%; */
    }
    #heading8{
      margin-left: 5%;
      margin-top: 3%;
      /* margin-bottom: -13%; */
    }
    
    