<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body >
<div class="wrapper fadeInDown" >
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>User Login</h1>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/L.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm">
     
      <input type="text" id="email" class="fadeIn second" name="login" placeholder="Email" formControlName="email" id="email">
      <span class="text-danger" *ngIf="field.email.invalid && field.email.touched">Email is required</span><br>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password" formControlName="password" id="password">
      <span class="text-danger" *ngIf="field.password.invalid && field.password.touched">Password is required</span><br>
      <input type="submit"  [disabled]="loginForm.invalid" class="fadeIn fourth" value="Log In" (click)="AdminLogin() ">
      <a href="" routerLink="/Registration">SignUp</a>
      
        
       
      
     
      
      <!-- <input type="text" id="name" class="form-control" formControlName="name" required> <div *ngIf="Email.invalid && (name.dirty || name.touched)" class="alert alert-danger"></div> -->
    </form>
    
    

  </div>
</div>
</body>