<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body >
<div class="wrapper fadeInDown" >
  <div id="formContent">
    <!-- Tabs Titles -->
    <h1>Admin Login</h1>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/L.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="adminlogin">
     
      <input type="text" id="email" formControlName="email" class="fadeIn second" name="login" placeholder="Email" >
      <div
      class="text-danger"
      *ngIf="adminlogin.get('email').invalid && adminlogin.get('email').touched" >Enter correct email</div>
                   
      <input type="password" id="password" formControlName="password" class="fadeIn third" name="login" placeholder="Password" >
      <div
      class="text-danger"
      *ngIf="adminlogin.get('password').invalid && adminlogin.get('password').touched" >Enter Password</div>
      <input type="submit"  class="fadeIn fourth" value="Log In" (click)="AdminLogin() ">
      
        
           
     
      
      <!-- <input type="text" id="name" class="form-control" formControlName="name" required> <div *ngIf="Email.invalid && (name.dirty || name.touched)" class="alert alert-danger"></div> -->
    </form>
    
    

  </div>
</div>
</body>