<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="shopres.component.css" />
  </head>
  <body>
    <div
      *ngIf="alert"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      <strong>Success !</strong> You have Registered...
      <button
        onclick="CloseAlert()"
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form [formGroup]="RForm">
      <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr />
        <label for="sname"><b>Shop Name</b></label>
        <input
          type="text"
          placeholder="Enter Shop Name"
          formControlName="sname"
          id="sname"
        />
        <div
          class="text-danger"
          *ngIf="
            field.sname.invalid &&
            field.sname.touched
          "
        >
          Shop Name is required
        </div>
        <label for="oname"><b>Owner Name</b></label>
        <input
          type="text"
          placeholder="Enter Owner Name"
          formControlName="oname"
          id="oname"
        />
        <div
          class="text-danger"
          *ngIf="
            field.oname.invalid &&
            field.oname.touched
          "
        >
          Owner Name is required
        </div>

        <label for="mobile"><b>Mobile Number</b></label>
        <input
          type="text"
          placeholder="Enter Your Mobile Number"
          formControlName="mobile"
          id="mobile"
        />
        
        <div
          class="text-danger"
          *ngIf="field.mobile.invalid && field.mobile.touched"
        >
          Mobile number must be of 10 digits
        </div>

        
        <label for="saddress"><b> Shop Address</b></label>
        <input
          type="text"
          placeholder="Enter Your Shop Address"
          formControlName="saddress"
          id="saddress"
         />
         <div
         class="text-danger"
         *ngIf="field.saddress.invalid && field.saddress.touched"
       >
         Shop Address is required
       </div>
        
        <label for="city"><b>City</b></label>
        <input
          type="text"
          placeholder="Enter Your City"
          formControlName="city"
          id="city"
          />
          <div
          class="text-danger"
          *ngIf="field.city.invalid && field.city.touched"
        >
          This field is required
        </div>
         
        
        <label for="pincode"><b>Pincode</b></label>
        <input
          type="text"
          placeholder="Enter Your Pincode"
          formControlName="pincode"
          id="pincode"
          />
          <div
         class="text-danger"
         *ngIf="field.pincode.invalid && field.pincode.touched"
       >
         This field is required
       </div>
        

        <label for="email"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          formControlName="email"
          id="email"
          />
          <div
          class="text-danger"
          *ngIf="field.email.invalid && field.email.touched"
        >
          Email must be in correct format
        </div>
        

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          formControlName="password"
          id="psw"
          />
          <div
          class="text-danger"
          *ngIf="field.password.invalid && field.password.touched"
        >
          Password must be in correct format
        </div>
        

        <hr />

        <button  type="submit" (click)="save()" [disabled]="RForm.invalid" class="btn btn-primary">
          Register
        </button>
      </div>

      <div class="container signin">
        <p>
          Already have an account? <a href="#" routerLink="/Shoplogin">Sign in</a>.
        </p>
      </div>
    </form>
  </body>
</html>
