body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    /* background-image: url('../../assets/about-img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(94, 24, 24) 0%, rgb(180, 74, 79) 35%, rgb(231, 34, 60) 100%);
    
  }
  svg{
      margin-left: 30%;
      margin-top: 25%;
  }
  
  #heading1{
    margin-left: 30%;
    margin-top: 1%;
  }
  #heading2{
    margin-left: 65.5%;
    margin-top: -3%;
  }