<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>JC</title>
    <link rel="stylesheet" href="./home.component.css" />
  </head>
  <body>
    <div class="main">
      <div class="navbar">
        <div class="menu"></div>

        <div class="search">
          <input
            class="srch"
            type="search"
            name=""
            placeholder="Type To text"
          />
          <a href="#"> <button class="btn">Search</button></a>
        </div>
      </div>
      <div class="content">
        <h1>
          Order Online Grocery<span> <br />Just Click</span>
        </h1>
        <p class="par">
          We serve fresh Vegetables and Fruits -->
          <!-- <br>  <br> -->

          <!-- <br> </p> -->
        <!-- </p>
      </div>
    </div> -->

    <!----- End Content ------>

    <!------ Start Footer ------>
    <!-- <div class="footer" style="width: 100%">
      <div class="footer-parts">
        <div class="footer-parts-h3">About Us</div>
        <div class="footer-parts-p">
          The approach to the menu was easy. We had no interest in trying to
          reinvent food. We are known for our generous portions of BBQ,
          Southern, Indian meals, plus a touch of Western fun. We will tell you
          now – save room for dessert!
        </div>
      </div>
      <div class="footer-parts"></div>
      <div class="footer-parts" style="float: right">
        <div class="footer-parts-h3">Our Location</div>
        <div class="footer-parts-p">
          M6 Thane-Belapur Road,<br />
          Airoli, Navi Mumbai,<br />
          Maharashtra<br />
          400708
        </div>
        <div class="footer-icons">
          -->
        <!-- </div>
      </div>
    </div>
    <div class="footer-bottom" style="width: 100%">
      <div class="white">
        &copy;
        <script language="javascript" type="text/javascript"></script>
        . All rights reserved by
        <a href="http://www.freetimelearning.com/" target="_blank">
          <b>'Just Click'</b> Group</a
        >.
      </div>
    </div> -->
    <!------ End Footer ------->

    <!-- <div class="clearfix"></div>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="./home.component.css">
</head>

<body>

    <div class="main">
        <div class="navbar">


            <div class="menu">

            </div>

            <!-- <div class="search">
                <input class="srch" type="search" name="" placeholder="Type to Search">
                <a href="#"> <button class="btn">Search</button></a>
            </div> -->

        </div>
        <div class="content">
            <h1>Order Online Grocery<span> <br>Just Click It!</span></h1>
            <p style="color:rgb(7, 7, 7)" class="par">You need it and we got it.
                <!-- <br>  <br> -->

                <!-- <br> </p> -->




        </div>
    </div>


    <!----- End Content ------>

    <!------ Start Footer ------>
    <div class="footer" style="width: 100%; background-color: whitesmoke;font-family: Arial;">
        <div class="footer-parts" style="color: black;">
            <div class="footer-parts-h3" style="color: black;">About Us</div>
            <div class="footer-parts-p" style="color: black;">
                You can’t stop time, but you can save it!<br>
                Living in the city, there is never enough time to shop for groceries, pick-up supplies, grab food and
                wade through traffic on the way back home.
                Send packages across the city and get everything from food, groceries, medicines and pet supplies
                delivered right to your doorstep. From any store to your door, just make a list and we’ll make it
                disappear. Just Click It! </div>
        </div>
        <div class="footer-parts">


        </div>
        <div class="footer-parts" style="float: right; color: black;">
            <div class="footer-parts-h3" style="color: black;">Our Location</div>
            <div class="footer-parts-p" style="color: black;">
                M6 Thane-Belapur Road,<br />
                Airoli, Navi Mumbai,<br />
                Maharashtra<br />
                400708
            </div>
            <div class="footer-icons">
              
            </div>
        </div>
    </div>
    <div class="footer-bottom" style="width:100% ;">
        <div class="white">&copy;
            <script language="javascript" type="text/javascript"></script>. All rights reserved by <a
                href="http://www.freetimelearning.com/" target="_blank">"Just Click Group"</a>.
        </div>
    </div>
    <!------ End Footer ------->

    <div class="clearfix"></div>




</body>

</html>
